ipython
matplotlib
numpy
seaborn
nbgrader
jupyterlab
notebook
# jupyterlab-lsp
# jupyterlab-git
# RISE
# pylint
# autopep8
# jupyter-collaboration
# jupyterlab-link-share
# python-lsp-server
# pyright
jupyter_contrib_nbextensions
